html {
    background-color: #fff0e5;
}

.links-list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 0;
}

.top-links-list {
    display: none;
}

.links-list li {
    display: inline;
}

p {
    color: black;
}

.main {
    margin-top: 15vh;
}


/* .main>* {
    border: 2px black solid;
} */

.infos {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.left {
    float: left;
    border-right: 1px black solid;
    height: 300px;
    border-radius: 0 6% 6% 0;
    background-color: white;
    box-shadow: 1px 2px black;
}

.left:hover {
    box-shadow: 2px 2px black;
}

.aside-analitics {
    border: 1px black solid;
}

.editor-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feedbar {
    display: inline-flex;
    flex-flow: column nowrap;
    /* position: relative; */
    max-height: 9000px;
    width: 65%;
    margin: 10px auto;
    margin-left: 10px;
}

.aside {
    margin-top: 10px;
    width: 15%;
    border: 1px black solid;
}

.main_list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.main_list li {
    color: black;
}

.feed {
    max-height: 90000px;
}

.user_info {
    margin: 0 auto;
}

.editor-box-parent {
    border: 2px black solid;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.editor-box-parent:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.list-item p{
    margin: 0 auto;
    text-align: center;
}



@media screen and (max-width: 900px) {
    .top-links-list {
        display: block;
        height: 10vh;
        position: fixed;
        width: 100vw;
        border-bottom: 1px black solid;
        z-index: 1;
        background-color: #fff0e5;
        margin-top: 1px;
    }
    .main {
        margin-top: 10vh;
    }
    .links-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 0;
        padding: 20px;
    }
    .links-list li p{
        text-decoration: none;
    }
    .left {
        display: none;
    }
    /* .right {
        display: none;
    } */
    .feedbar {
        width: 95vw;
        margin-top: calc(10vh + 2px);

    }
}