.card {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-height: 900000px;
    margin: 10px auto;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.card:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.right-image:active {
    transform: translate(0, 0.1rem);
}

.child-card {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-height: 900000px;
    margin: 10px auto;
    width: 100%;
    border: 1px solid white;
    color: white;
    background-color: white;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    justify-content: space-between;
}

.message-box {
    display: flex;
    flex-flow: column nowrap;
    max-height: 900000px;
    max-height: 800px;
    overflow-y: auto;
    width: inherit;
    word-break: break-word;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px black solid;
    justify-content: space-around;
    border-top: 1px black solid;
    /*  position: relative;
    bottom: 0; */
}

.message {
    width: 100%;
    word-wrap: break-word;
}

.message>* {
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 5px;
}

.card_button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.card_button p {
    position: relative;
    top: -3px;
    display: inline;
    margin: auto 0;
}

.card_button:hover {
    color: blue;
    border-bottom: 1px solid blue;
    border: 1px blue solid;
}

.card_button p:hover {
    color: #0000ff;
}

.card_button img:hover {
    color: #0000ff;
    background: url('http://localhost:8888/photos/blue-like.png');
}

.like-img {
    background-image: url('http://localhost:8888/photos/like.png');
}

.like-img:hover {
    background-image: url('http://localhost:8888/photos/blue-like.png');
}

@media screen and (max-width: 901px) {
    .info {
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        justify-content: space-between;
    }
    .info * {
        margin-right: 20px;
    }
    .card_button p {
        display: none;
    }
}
@media screen and (max-width: 501px) {
    .info {
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        justify-content: space-between;
    }
    .info * {
        margin-right: 5px;
    }
    .card_button p {
        display: none;
    }
}