.profile-page {
    margin-top: 10vh;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px black solid;
    list-style: none;
    height: 30px;
    margin-top: 0;
    padding: 10px;
}

.button {
    color: black;
    height: inherit;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.button:hover {
    border: 1px black solid;
}

.button * {
    height: inherit;
    margin: 0 auto;
}