#review_card{
    border: 1px solid black;
    width: 300px;
}

#profile_image{
    width:25px;
    height:25px;
}

#review_top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#shown_review_grade{
    background-color: red;
    width: 20px;
    text-align: center;
}